<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.hibaby.chat.ChatMapper">
	
	
	<!-- 채팅 입력 -->
	<insert id="insChat" parameterType="ChatPARAM">
		INSERT INTO t_chat
		(to_user, from_user, ctnt)
		VALUES
		(#{to_user}, #{from_user}, #{ctnt})
	</insert>
	
	
	<!-- selChatPk가 실행되면 pk값을 t_chatChk에 한번만 추가함 -->
	<insert id="insChatChk" parameterType="ChatPARAM">
		INSERT INTO t_chatChk
		(to_user)
		VALUES
		(#{to_user})
	</insert>
	
	
	
	
	
	
	
	
	<select id="selChatPk" parameterType="ChatChkPARAM" resultType="ChatChkPARAM">
		SELECT to_user, to_Chk FROM t_chatChk
		WHERE to_user = #{to_user}
	</select>
	
	
	
	<select id="selChatChk" parameterType="ChatChkPARAM" resultType="ChatChkDMI">
		SELECT to_user, to_chk FROM t_chatChk
		WHERE to_user = #{to_user}
	</select>
	
	
	
	
	
	<!-- t_chatChk에서 상대방이 쪽지보냈을때 to_user에 to_chk 값을 1로 만듬 -->
	<update id="updChatChk" parameterType="ChatPARAM">
		UPDATE t_chatChk
		SET to_chk = '1'
		WHERE to_user = #{to_user}
	</update>
	
	
	
	
	
	
	
	<!-- 채팅 내용 뿌리기 -->
	<select id="selChat" parameterType="ChatPARAM" resultType="ChatPARAM">
		SELECT B.i_user AS from_user, C.i_user AS to_user,
		B.profile_img AS from_profile_img,
	    C.profile_img AS to_profile_img,
		B.nick as from_nick, C.nick as to_nick, A.r_dt, ctnt
		FROM t_chat A
		
		LEFT JOIN t_user B
		ON A.from_user = B.i_user
		
		LEFT JOIN t_user C
		ON A.to_user = C.i_user
		
		WHERE A.to_user = ${to_user} AND A.from_user = ${from_user}
		OR
		A.from_user = ${to_user} AND A.to_user = ${from_user}
		
		ORDER BY r_dt ASC
	</select>
	
	<!-- 챗 top 내용 (상대 사진, 닉네임) -->
	<select id="selChatTop" parameterType="ChatPARAM" resultType="ChatPARAM">
		SELECT
			B.i_user as to_user,
			B.nick as to_nick,
			B.profile_img AS to_profile_img
		FROM t_fr A
		
		LEFT JOIN t_user B
		ON A.to_user = B.i_user 
		
		WHERE A.to_user = #{to_user}
		LIMIT 0,1
	</select>
	
</mapper>