@charset "UTF-8";

.btn {
  padding: 3.5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.7s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  cursor: pointer;
  width: 140px;
 }

.btn-3 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #edd3e8 51%, #f2ebf1 100%);
}

.btn:hover {
  background-position: right center;
}



#container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 260px;
    height: 260px;
    border-radius: 5px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
}

img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

#login-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(3,3,3,.8);
    overflow: hidden;
    opacity: 0.4;
    box-shadow: 10px 10px 30px #000;}


.close-btn:hover{
    opacity: .5;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    background-image: linear-gradient(to right, #a1c4fd 0%, #edd3e8 51%, #91e0ff 100%);
}

.box {
    width: 490px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to right, #a1c4fd 0%, #8ae6d6 51%, #5bf5ad 100%); 
    text-align: center;
    border-radius: 30px;
    border: 2px solid #ffffff;
}

.box h1 {
    color: #3c4543;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"] 
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.4s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus
{
    width: 280px;
    border-color: #3498db;
}

.box input[type = "submit"] 
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.4s;
    cursor: pointer;
}

.box input[type = "submit"]:hover 
{
    width: 120px;
    background: #3498db;
}


.copyright 
{
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 67%;
    left: 37%;
    color: #191919;
} 


#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
    
  color: tomato;
}


#menuToggle input
{
    
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
    
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: red;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 40px;
    padding-top: 125px;
    background-image: linear-gradient(to right, #a1c4fd 0%, #9de0b2 51%, #fffcab 100%);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.6s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 18px;
}


#menuToggle input:checked ~ ul
{
    transform: none;
}