<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	
		<!-- user -->
		<typeAlias type="com.jy.hibaby.user.model.UserVO" alias="UserVO" />		
		<typeAlias type="com.jy.hibaby.user.model.UserDMI" alias="UserDMI" />
		<typeAlias type="com.jy.hibaby.user.model.UserPARAM" alias="UserPARAM" />
		
		<!-- board -->
		<typeAlias type="com.jy.hibaby.board.model.BoardVO" alias="BoardVO" />
		<typeAlias type="com.jy.hibaby.board.model.BoardPARAM" alias="BoardPARAM" />
		<typeAlias type="com.jy.hibaby.board.model.BoardDMI" alias="BoardDMI" />
		
		<!-- point -->
		<typeAlias type="com.jy.hibaby.PointVO" alias="PointVO" />
		
		<!-- page -->
		<typeAlias type="com.jy.hibaby.Pagination" alias="Pagination" />
		
		
		<!-- cmt -->
		<typeAlias type="com.jy.hibaby.cmt.model.CmtVO" alias="CmtVO" />
		<typeAlias type="com.jy.hibaby.cmt.model.CmtPARAM" alias="CmtPARAM" />
		<typeAlias type="com.jy.hibaby.cmt.model.CmtDMI" alias="CmtDMI" />
		
		<!-- study -->
		<typeAlias type="com.jy.hibaby.study.model.StudyPARAM" alias="StudyPARAM" />
		
		<!-- pro -->
		<typeAlias type="com.jy.hibaby.pro.model.ProVO" alias="ProVO" />
		<typeAlias type="com.jy.hibaby.pro.model.ProPARAM" alias="ProPARAM" />
		
		<!-- chat -->
		<typeAlias type="com.jy.hibaby.chat.model.ChatVO" alias="ChatVO" />
		<typeAlias type="com.jy.hibaby.chat.model.ChatPARAM" alias="ChatPARAM" />
		
		<!-- chatChk -->
		<typeAlias type="com.jy.hibaby.chat.model.ChatChkVO" alias="ChatChkVO" />
		<typeAlias type="com.jy.hibaby.chat.model.ChatChkPARAM" alias="ChatChkPARAM" />
		
		
		
		
		
	</typeAliases>	
</configuration>