<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.hibaby.board.BoardMapper">


						<!-- select -->
	<!-- 판매글 등록할경우 주소값 지정을위해 이다음 i_board 값의 최대값을 받아옴 -->
	<select id="maxI_board" resultType="Integer">
		SELECT MAX(i_board) + 1 FROM t_board
	</select>
						
	<!-- 게시글 뿌리기 -->
	<select id="selBoard" resultType="BoardDMI" parameterType="Pagination">
		SELECT A.i_board, A.title, A.ctnt, B.nick, A.r_dt FROM t_board A
		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		ORDER BY A.r_dt DESC
		limit #{startIndex}, #{pageSize}
	</select>
	
	<!-- 전체 글 수 -->
	<select id="totalBoardCount" resultType="Integer">
		SELECT COUNT(i_board) FROM t_board
	</select>			
	
	<!-- 게시글 검색 -->
	<select id="searchBoard" resultType="BoardDMI" parameterType="Pagination">
		SELECT A.i_board, A.title, A.r_dt, B.nick FROM t_board A
		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		WHERE title LIKE CONCAT('%', #{search}, '%')
		limit #{startIndex}, #{pageSize}
	</select>		
	
	<!-- 게시글 검색 수 -->
	<select id="totalSearchCount" resultType="Integer" parameterType="BoardDMI">
		SELECT COUNT(i_board) FROM t_board
		WHERE title LIKE CONCAT('%', #{search}, '%') 
	</select>
	
	
	<!-- 보드detail 상세화면 -->
	<select id="detailBoard" resultType="BoardPARAM" parameterType="BoardPARAM">
		SELECT A.i_board, A.i_user, A.title, A.ctnt, A.image_1, A.image_2,
		A.image_3, A.image_4, A.hits, A.r_dt, B.nick, B.i_user, B.profile_img
		FROM t_board A
		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		WHERE i_board = #{i_board}
	</select>
	
		
						
						<!-- insert -->
	<!-- 판매글 등록하기 -->
	<insert id="insBoard">
		insert into t_board(i_user, title, ctnt, image_1, image_2, image_3, image_4)
		VALUES
		(${i_user}, '${title}', '${ctnt}',
		<foreach collection="imageFileList" item="item" separator=",">
			'${item.imageFile}'
		</foreach>
		)
	</insert>	
					
						
						
						<!-- update -->
	<!-- 게시글 수정하기 -->
	<update id="updBoard" parameterType="BoardVO">
		UPDATE t_board
		SET title = #{title},
		ctnt = #{ctnt}
		WHERE i_board = #{i_board}
	</update>						

	<!-- 판매글 사진 수정 -->
	<update id="updImage" parameterType="BoardVO">
		UPDATE t_board
		SET
			<if test='imageFile != null'>
				image_#{seq} = #{imageFile}
			</if>
		WHERE i_board = #{i_board}
	</update>
	
	
	<!-- 디테일 조회수 증가 -->
	<update id="updAddHit" parameterType="BoardPARAM">
		UPDATE t_board
		SET hits =
		hits + 1
		WHERE i_board = #{i_board}
	</update>


						
						<!-- delete -->

 	<!-- 게시글 삭제 -->
	<delete id="boardDelete" parameterType="BoardPARAM">
		DELETE FROM t_board
		WHERE i_board = #{i_board}
	</delete>


	
</mapper>