<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.hibaby.study.StudyMapper">

	<!-- 1등 정보 -->
	<select id="oneRank" resultType="PointVO">
		SELECT B.i_user, B.profile_img, B.nick,
		A.totalPoint FROM t_myPoint A

		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		
		ORDER BY A.totalPoint DESC
		LIMIT 0,1
	</select>
	
	<!-- 2등 정보 -->
	<select id="twoRank" resultType="PointVO">
		SELECT B.nick, A.totalPoint FROM t_myPoint A

		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		
		ORDER BY A.totalPoint DESC
		LIMIT 1,1
	</select>
	
	<!-- 3등 정보 -->
	<select id="threeRank" resultType="PointVO">
		SELECT B.nick, A.totalPoint FROM t_myPoint A

		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		
		ORDER BY A.totalPoint DESC
		LIMIT 2,1
	</select>
	
	<!-- 4등 정보 -->
	<select id="fourRank" resultType="PointVO">
		SELECT B.nick, A.totalPoint FROM t_myPoint A

		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		
		ORDER BY A.totalPoint DESC
		LIMIT 3,1
	</select>
	
	<!-- 5등 정보 -->
	<select id="fiveRank" resultType="PointVO">
		SELECT B.nick, A.totalPoint FROM t_myPoint A

		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		
		ORDER BY A.totalPoint DESC
		LIMIT 4,1
	</select>
	
	<!-- other 정보 -->
	<select id="otherRank" resultType="PointVO">
		SELECT A.i_point, B.nick, B.sm, A.totalPoint FROM t_myPoint A
		
		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		
		ORDER BY A.totalPoint DESC
		LIMIT 4,100;
	</select>
</mapper>