@charset "UTF-8";

body {
  height:100vh;
  width:100%;
  margin:0px;
  overflow:hidden;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 93%, rgba(181,181,181,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(93%, rgba(186,186,186,1)), color-stop(100%, rgba(181,181,181,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 93%, rgba(181,181,181,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 93%, rgba(181,181,181,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 93%, rgba(181,181,181,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 93%, rgba(181,181,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b5b5b5', GradientType=0 );
}

#LibrarianPicture {
  width:100%;
  height:100%;
}

#loginContainer {
  padding:25px;
  background-color:#333333;
  width:325px;
  height:auto;
  margin:auto;
  margin-top:25px;
  margin-bottom:10px;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.75);
}

#loginPicture:hover + #leftEye,#loginPicture:hover + #rightEye {
  fill:white !important;
  transform: translate(5px, 0px);
}

.testClass {
  width:10px;
  height:10px;
  background-color:blue;
  position:absolute;
  z-index:100000;
}

#loginPicture {
  position:relative;
  width:250px;
  height:250px;
  background-color:white;
  border:5px solid rgba(10,250,252,0.35);
  border-radius:180px;
  margin:auto;
  background-color:grey;
  z-index:200;
}

#loginPicture svg {
  width:100%;
  position:relative;
  top:-25px;
  z-index:0;
}

#loginOverlay {
  position:absolute;
  background-color:white;
  border:5px solid rgba(10,250,252,0.35);  width:250px;
  height:250px;
  top:30px;
  margin:auto;
  border-radius:180px;
  z-index:500;
}

.loginForm {
  color:white;
  margin-top:25px;
  padding-bottom:25px;
}

.loginForm label {
  width:30%;
  display:table-cell;
}

.loginForm input {
  width:100%;
  margin-left:15%;
  margin-right:15%;
  display:block;
  background-color:transparent;
  border:0px solid transparent;
  border-bottom:1px solid rgba(10,250,252,1);
  font-size:20px;
  color:white;
  text-align:center;
}

.loginFormContainer {
  width: 100%;
  display:table-row;
}

#login {
  -webkit-transition: all 300ms ease-out 0s;
  -moz-transition: all 300ms ease-out 0s;
  -o-transition: all 300ms ease-out 0s;
  transition: all 300ms ease-out 0s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  margin-top:25px;
  padding:15px;
  background-color:grey;
  border:1px solid grey;
  color:rgba(10,250,252,1);;
  cursor:pointer;
}

#login:hover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color:transparent;
  color:rgba(10,250,252,0.35);
  border:1px solid rgba(10,250,252,1);
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(110,250,252,0.55);
}
input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(110,250,252,0.55);
}
input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(110,250,252,0.55);
}
input:-moz-placeholder { /* Firefox 18- */
  color: rgba(110,250,252,0.55);
}

#smile {
  -webkit-transition: all 300ms linear, fill 0ms linear;
  -moz-transition: all 300ms linear, fill 0ms linear;
  -o-transition: all 300ms linear, fill 0ms linear;
  transition: all 300ms linear, fill 0ms linear;
  transform-origin: 50% 50%;
}