body {
	background-color: #fff7ed;
}



.main-container {
	font-family: 'Ubuntu', sans-serif;
	width: 1080px;
    margin: 2em auto;
    
}

.main-header {
    width: 1080px;
    height: 90px;
    background-color: pink;
    border-radius: 7px;
}

.header-ul {
    display: flex;
    list-style: none;
}

.li-a1 {
    text-decoration: none;
}

#li1 {
    position: relative;
    top: 22px;
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.li-a2-1 {
    text-decoration: none;
}

#li2-1 {
    position: relative;
    top: 32px;
    left: 440px;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
}

#showAlertMs {
    position: relative;
    top: 3px;
    left: 430px;
    font-size: 2.2em;
    color: red;
}

.li-a2 {
    text-decoration: none;
    
}

#li2 {
    position: relative;
    top: 32px;
    left: 480px;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
}

.header-menu-tab {
    text-decoration: none;
}

#li3 {
    position: relative;
    top: 32px;
    left: 520px;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
}


/* 이미지 클릭스 dropdown 메뉴 */

.dropbtn {
background-color: pink;
color: white;
padding: 10px;
border: none;
position: relative;
top: 3px;
left: 520px;
}

.dropbtn:hover {
    cursor: pointer;
    background-color: pink;
}

.drop-img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.drop-img:hover {
    background-color: pink;
}

.dropdown {
position: relative;
display: inline-block;

}

.dropdown-content {
display: none;
position: absolute;
top: 0px;
left: 680px;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;

}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.hrDiv {
    margin-left: 15px;
    text-align: center;
    width: 125px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:pink;}

/* 유저 검색 모달 */
.modal {
    
	display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#searchNickFrm {
    margin-left: 160px;
    margin-top: -5px;
    display: flex;
}

#searchNick {
    border-radius: 6px;
    border: 2px solid grey;
    outline-style: none;
}

#userSearchBtn {
    margin-left: 11px;
    font-size: 1.8em;
    color: grey;
}

#userSearchBtn:hover {
    cursor: pointer;
    color: #4396fa;
}

#allUserBtn {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1em;
    font-weight: bold;
    color: grey;
    border-radius: 6px;
    border-style: none;
}

#allUserBtn:hover {
    cursor: pointer;
    color: #111;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
	margin: 10% auto; 
	height: 54%;
    padding: 20px;
	border: 3px solid #fff7ed;
	border-radius: 20px;
	width: 26%;                           
	text-align: center;
	background-color: #fff7ed;
}

#exitBtn {
    font-size: 2.8em;
    margin-top: -12px;
    margin-left: 466px;
}

#exitBtn:hover {
    cursor: pointer;
    color: grey;
}


.userListTable {
    height: 370px;
    overflow: auto;
    margin-top: 25px;
}

.userListDiv1 {
    margin-top: 5px;
    margin-left: 5px;
}

.userListDiv2 {
    margin-top: 2px;
    margin-left: 10px;
}

.userListDiv3 {
    margin-top: 12px;
    margin-left: 8px;
    font-size: 1.2em;
    font-weight: bold;
}

.userListDiv4 {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1em;
    color: grey;
    
}

.userListImg {
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

#userListBox {
    display: flex;
    margin-top: 4px;
    border: 2px solid grey;
    border-radius: 6px;
}

#userListBox:hover {
    cursor: pointer;
    border: 3px solid black;
}






::-webkit-scrollbar {
    width: 5px;  /* 세로축 스크롤바 길이 */
    }
    ::-webkit-scrollbar-track {
    background-color: lightblue;
    }
    ::-webkit-scrollbar-track-piece {
    background-color: white;
    }
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
    }
    ::-webkit-scrollbar-button {
    background-color: darkblue;
    width: 20px;
    height: 10px;
    }
    ::-webkit-scrollbar-button:start {
    background-color: white; /* Top, Left 방향의 이동버튼 */
    height: 0px;
    }
    ::-webkit-scrollbar-button:end {
    background-color: white; /* Bottom, Right 방향의 이동버튼 */
    height: 0px;
    }





/* user detail Modal Start */
.detailModal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.detailModal-content {
    margin: 15% auto; 
    height: 39%;
    padding: 20px;
    border: 3px solid #fff7ed;
    border-radius: 20px;
    width: 26%;                           
    text-align: center;
    background-color:#f2f2f2;
}

#detailUserBox {
    position: relative;
    margin-top: -20px;
}

.detailImg1 {
    width: 100px;
    height: 110px;
}

.detailUserInfo {
    text-align: start;
    display: flex;
}

.detailImg2 {
    width: 70px;
    height: 80px;
    border-radius: 100px;
}

.detailNick {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: grey;
}

.detailPoint {
    position: absolute;
    top: 160px;
    left: 88px;
    font-size: 1.3em;
    font-weight: bold;
}

.detailSm {
    position: absolute;
    border: 2px solid grey;
    border-radius: 7px;
    top: 205px;
    width: 500px;
    font-size: 1em;
    font-weight: bold;
}

.detailP {
    padding-left: 8px;
    padding-right: 8px;
}
#detailExitBtn {
    font-size: 2.8em;
    margin-top: -12px;
    margin-left: 466px;
}

#detailExitBtn:hover {
    cursor: pointer;
    color: grey;
}

#frPlusBtn {
    position: relative;
    top: 130px;
    left: -20px;
    width: 100px;
    height: 35px;
    border: 3px solid skyblue;
    border-radius: 10px;
    outline-style: none;
    font-size: 1em;
    font-weight: bold;
    color: #8ebdb7;
}

#frPlusBtn:hover {
    cursor: pointer;
    color: #567d78;
    font-size: 1.1em;
}

#messageBtn {
    position: relative;    
    top: 130px;
    left: 30px;
    width: 100px;
    height: 35px;
    border: 3px solid skyblue;
    border-radius: 10px;
    outline-style: none;
    font-size: 1em;
    font-weight: bold;
    color: #8ebdb7;
}

#messageBtn:hover {
    cursor: pointer;
    color: #567d78;
    font-size: 1.1em;
}
/* detail User Modal End */



/* 친구목록 모달 start */
.frListmodal {
	display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#frTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: grey;
    margin-left: 65px;
}

/* Modal Content/Box */
.frListmodal-content {
    background-color: #fefefe;
    overflow: auto;
	margin: 10% auto; 
	height: 54%;
    padding: 20px;
    padding-right: 57px;
	border: 3px solid #fff7ed;
	border-radius: 20px;
	width: 26%;                           
	text-align: center;
	background-color: #fff7ed;
}
.frListmodal-content::-webkit-scrollbar {   /* 스크롤 안보이게 숨기기 */
    display: none; /* Chrome, Safari, Opera*/
}



#frexitBtn {
    font-size: 2.8em;
    margin-top: -12px;
    margin-left: 505px;
}

#frexitBtn:hover {
    cursor: pointer;
    color: grey;
}

.frmodal-body {
    overflow:auto;
}

.frListTable {
    display: flex;
    overflow: auto;
    border: 2px solid grey;
    width: 530px;
    margin-top: 25px;
    border-radius: 10px;
}

.frListTable:hover {
    cursor: pointer;
    border: 2px solid skyblue;
}

.userListDiv1 {
    margin-top: 5px;
    margin-left: 5px;
}

.userListDiv2 {
    margin-top: 2px;
    margin-left: 10px;
}

.userListDiv3 {
    margin-top: 12px;
    margin-left: 8px;
    font-size: 1.2em;
    font-weight: bold;
}

.userListDiv4 {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1em;
    color: grey;
}

#loginChkCir {
    margin-top: 14px;
    margin-left: 27px;
    color: #6ed1ff;
    font-size: 1.7em;
    width: 15px;
    height: 15px;
    border-radius: 100px;
}

.userListImg {
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

#frListBox {
    margin-top: 4px;
    border: 2px solid grey;
    border-radius: 6px;
}

#frListBox:hover {
    cursor: pointer;
    border: 3px solid black;
}
/* 친구목록 모달 End */



/* 대화창 Start */
.chatModal {
    display: none;
    position: fixed;
    right: 20px; top: 400px;
    padding-top: 20px;
    padding-left: 15px;
    border-top-style: none;
    border: 2px solid grey;
    border-radius: 6px;
    width: 310px;
    height: 460px;
    overflow-y: auto;
}



/* Modal Content/Box */
.chatModal-content {
    margin: 15% auto; 
    height: 39%;
    padding: 20px;
    border: 3px solid #fff7ed;
    border-radius: 20px;
    width: 26%;                           
    text-align: center;
    background-color:#f2f2f2;
}




/* 대화창 End */


#chatDiv {
    display: none;
    position: absolute;
    top: 280px;
    left: 830px;
    width: 350px;
    height: 620px;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 16px;
    text-align: center;
}

#chatUserImg {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#chatUserNick {
    position: absolute;
    top: 18px;
    left: 85px;
    font-size: 1.3em;
    font-weight: bold;
    color: grey;
}

#chatExitBtn {
    position: absolute;
    font-size: 2.7em;
    top: 12px;
    left: 300px;
}

#chatExitBtn:hover {
    cursor: pointer;
    color: grey;
}

#chatDivheader {
    position: absolute;
    top: 65px;
    width: 326px;
    padding: 12px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

/* 채팅공간 start */
#chatArea {
    display: none;
    position: absolute;
    top: 110px;
    width: 348px;
    height: 450px;
    overflow: auto;
}

#youChat {
   display: flex;
}

.youChatImg {
    margin-top: 15px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.youChatNick {
    margin-top: 25px;
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color:#111;
}

.youChatText {
    margin-top: 5px;
    margin-left: 15px;
    width: 260px;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    color: #141414;
    text-align: start;
}

.youChatDate {
    margin-right: 167px;
    color: grey;
    font-size: 1.1em;
}


#myChat {
    display: flex;
}

.myChatImg {
    margin-top: 5px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.myChatNick {
    margin-top: 21px;
    margin-left: 215px;
    margin-right: 6px;
    font-size: 1.1em;
    font-weight: bold;
    color: #9097b0;
}

.myChatText {
    margin-top: 20px; /* 내정보넣으면 px 조절하기 */
    margin-left: 60px;
    width: 260px;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    color: #141414;
    text-align: start;
    background-color: #a6ecff;
}

.myChatDate {
    margin-left: 167px;
    color: grey;
    font-size: 1.1em;
}





/* 채팅공간 end */



/* 챗입력 공간 start */
#chatTextArea {
    position: relative;
    top: 523px;
}



/* 챗 입력 */
#chatText {
    position: absolute;
    left: -1px;
    top: 39px;
    width: 338px;
    height: 50px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid #d3d3d3;
    outline-style: none;
    font-size: 1.2em;
    line-height: 20px;
    overflow: hidden;
    resize: none;
}


#chatSend {
    position: absolute;
    top: 52px;
    right: 10px;
    font-size: 2.1em;
    color: grey;
    cursor: pointer;
}
/* 챗입력 공간 end */


/* 친구요청창 start */

#frReqModal {
	display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
#frReq-content {
    background-color: #fefefe;
	margin: 15% auto; 
	height: 230px;
    padding: 20px;
	border: 3px solid #fff7ed;
	border-radius: 20px;
	width: 20%;                           
	text-align: center;
	background-color: #fff7ed;
}

.frReqMsg {
    font-size: 1.8em;
    font-weight: bold;
    color: grey;
}

#frReqInfo {
    position: relative;

}

.frReqImg {
    position: absolute;
    top: 20px;
    left: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.frReqSpan {
    position: absolute;
    top: 45px;
    left: 200px;
    font-size: 2em;
    font-weight: bold;
    color: grey;
}

#btnBox {
    position: relative;
}

#frBtnCon1 {
    position: absolute;
    top: 155px;
    left: 45px;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    border-style: none;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

#frBtnCon2 {
    position: absolute;
    top: 155px;
    left: 170px;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    border-style: none;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

#frBtnCon3 {
    position: absolute;
    top: 155px;
    left: 290px;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    border-style: none;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.frBtnCon:hover {
    background-color: white;
    color: grey;
}


/* 친구요청창 end */


#showAlertMsBox {
    display: flex;
    position: relative;
    top: 630px;
    left: 1170px;
    width: 340px;
    background-color: white;
    border: 4px solid grey;
    border-radius: 8px;
    overflow: auto;
}


.showMsImg {
    margin-top: 15px;
    margin-left: 15px;
    width: 70px;
    height: 70px;
    border-radius: 45px;
}

.showMsNick {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    
    font-size: 1.5em;
    font-weight: bold;
    color: grey;
}

.msms {
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 1.1em;
    color: #111;
    font-weight: bold;
}













