body {
	background-color: #fff7ed;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
p {
	font-size: 15px;
}
a {
	text-decoration: none;
	font-size: 15px;
}
	a:hover {
		text-decoration: underline;
	}
h1, h2, p, a, span{
	color: #fff;
}
	.scnd-font-color {
		color: #9099b7;
	}
/* header 위치 관련 */
.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal-list li {
		float: left;
	}
.clear {
	clear: both;
}
.icon {
	font-size: 25px;
}
/* 프로필 이미지 사진관련 */
.profile-picture {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;	
}
.big-profile-picture {
    margin: 0 auto;		
    border: 5px solid #50597b;
    width: 150px;
    height: 150px;
}
.small-profile-picture {
    border: 2px solid #50597b;
    width: 40px;
    height: 40px;
}
/** MAIN CONTAINER **/
.main-container {
	font-family: 'Ubuntu', sans-serif;
	width: 1080px;
	height: 850px;
	margin: 2em auto;
}	
.button {
	display: block;
	width: 175px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
	-webkit-transition: background .3s;
	transition: background .3s;
}
.button:hover {
	text-decoration: none;
}
	/*********************************************** HEADER ***********************************************/
	header {
		height: 90px;
        
	}
	.header-menu {
	font-size: 17px;
	line-height: 80px;
	}
	.header-menu li {
		position: relative;
		
	}
	.header-menu-tab {
		padding: 0 27px;
		display: block;
		line-height: 90px;
		font-size: 17px;
		-webkit-transition: background .3s;
		transition: background .3s;
	}
		.header-menu-tab:hover {
			
			text-decoration: none;
		}
		.header-menu-tab .icon {
			padding-right: 15px;
		}
	.header-menu-number {
		position: absolute;
		line-height: 22px;
		padding: 0 6px;
		font-weight: 700;
		background: #e64c65;
		border-radius: 100%;
		top: 18px;
		right: 2px;
		-webkit-transition: all .3s linear;
		transition: all .3s linear;
		
	}
	.header-menu li:hover .header-menu-number {
		text-decoration: none;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	.profile-menu {
		float: right;
		height: 90px;
		padding-right: 20px;
	}
	.profile-menu p {
		font-size: 17px;
		display: inline-block;
		line-height: 90px;
		margin: 0;
		padding-right: 15px;
	}
	.profile-menu a {
		padding-left: 5px;
		width: 50px;
	}
	.profile-menu a:hover {
		text-decoration: none;
		width: 50px;
	}
	.small-profile-picture {
		display: inline-block;
		vertical-align: middle;				
		
	}
	/** CONTAINERS **/
	.container {
		float: left;
		width: 300px;
	}
	.block {
		
		margin-bottom: 25px;
		background: pink;
		border-radius: 5px;
	}
		
#aa {
    margin-left: 160px;
}
#HiBabyLogo {
    font-size: 1.7em;
	
}
#dropdownMenuButton{
	cursor: pointer;
}
.pimg {
	width:50px;
    height: 50px;
    margin-top: 20px;
	border-radius: 140px;
    cursor:pointer;
}
.dropdown-menu {
	margin-top: 32px;
	margin-left: 16px;
}
#logOutA{
	cursor: pointer;
}
.spanli {
    color: white;
}

#marginLefta {
	margin-left: 550px;
}



.nav .button-dropdown {
    position: relative;
}

.nav li a {
    display: block;
    color: #333;
    
   
    
}

.nav li a span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    color: #999;
}

.nav li a:hover, .nav li a.dropdown-toggle.active {
    
    color: #fff;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
    color: red;
}

.nav li .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
}

.nav li .dropdown-menu.active {
    display: block
    
}

.nav li .dropdown-menu a {
    margin-top: 30px;
    margin-right: 30px;
    background-color:  #fff7ed;
    width: 150px;
    text-align: center;
}

.includeContainer {
	width: 100%;  
	
}



/*	ㅡ	ㅡ	ㅡ header 끝 ㅡ	ㅡ	ㅡ 	*/


/* 전체글 Btn - start -*/
.selBtn {
	width: 80px;
	height: 38px;
	
	border: 1px solid #75acff;
	border-radius: 10px;
	background-color: #fff7ed;
	font-size: 1em;
}

.selBtn:hover {
	cursor: pointer;
	background-image: linear-gradient(to right, #a1c4fd 10%, #8ae6d6 51%, #5bf5ad 100%);
	box-shadow: 0 7px 14px -5px grey;
}
/* 전체글 Btn - end -*/


/* 글쓰기 Btn - start -*/
.writeBtn {
	width: 80px;
	height: 38px;
	margin-left: 300px;
	border: 1px solid #75acff;
	border-radius: 10px;
	background-color: #fff7ed;
	font-size: 1em;
}

.writeBtn:hover {
	cursor: pointer;
	background-image: linear-gradient(to right, #a1c4fd 10%, #8ae6d6 51%, #5bf5ad 100%);
	box-shadow: 0 7px 14px -5px grey;
}
/* 글쓰기 Btn - end- */

.append {
	width: 80px;
	height: 38px;
	margin-right: 300px;
	border: 1px solid #75acff;
	border-radius: 10px;
	background-color: #fff7ed;
	font-size: 1em;
}

.append:hover {
	cursor: pointer;
	background-image: linear-gradient(to right, #a1c4fd 10%, #8ae6d6 51%, #5bf5ad 100%);
	box-shadow: 0 7px 14px -5px grey;
}

/* list top메뉴들로부터 header랑 table 간격 띄우기용 */
.listTop {
	display: flex;
	margin-top: 55px;
	margin-bottom: 7px;
}

/*	ㅡ	ㅡ	ㅡ	테이블	ㅡ	ㅡ	ㅡ*/ 

.container th h1 {
	font-weight: bold;
	font-size: 1em;
	
	color: #185875;
	text-align: center;
 }

 
 .container {
		
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	
	display: table;
	padding: 0 0 2.2em 0;	/* 테이블하단 margin */
	border-radius: 13px;
   
 }
 
 .container td, .container th {
	padding-bottom: 1%;
	padding-top: 1%;
 }
 
 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
	background-color:#f7e9f5;
	text-align: center;
	color: #2b0000;
 }
 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
	background-color: #e3ffff;
	text-align: center;
	color: #2b0000;
 }
 
 .container th {
	border-radius: 7px;
	background-color: #fff7ed;
 }
 
 .container td {
	border-radius: 6px;
 }

 .container td:first-child { 
	color: #FB667A;
 }

 
 .container tr:hover {
	cursor:pointer;
	background-color: #d9d7d7;
	color: black;

	/* 박스 올라오는 부분*/
	transform: translate3d(12px, -8px, 0);	
	
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: line;
 }
 
 
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 
 }

				/* list.jsp 제일 상단부*/

/* serach 부분 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
  margin-left: 10px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 220px;
  border: 3px solid #75acff;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #75acff;
  background:#75acff;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
}


.paginNum {
	text-align: center;
}
/*	ㅡ	ㅡ	ㅡ	ㅡ	ㅡ	ㅡ	ㅡ	ㅡ*/



