.container {
    margin: 0 auto;
    margin-top: 250px;
    margin-left: 37%;
}

table {
    margin-top: 5px;
    width: 50%;
    border: 10px double #e6dfd3;
    
    border-radius: 15px;
    
}

.pageBox {
	text-align: center;
	margin-top: 30px;
    font-size: 1.2em;
}

.height {
    height: 300px;
}


thead tr th {
    font-size: 1.2em;
    color: grey;
    background-color:#ebebeb;
}

tbody tr th {
    color:#7a6161;
}

tbody tr:nth-child(2n) {
    border-right: 2px double black;
    background:#e6dfd3;
  
}

tbody tr:hover {
    
    cursor: pointer;
    background-color: #ebebeb;
}

#regBtn {
    width: 100px;
    height: 30px;

    margin-top: 70px;
    cursor: pointer;
}