@charset "UTF-8";

/*	ㅡ	ㅡ	ㅡ header 끝 ㅡ	ㅡ	ㅡ 	*/


/* 전체글 Btn - start -*/
.selBtn {
	width: 80px;
	height: 38px;
	
	border: 1px solid #75acff;
	border-radius: 10px;
	background-color: #fff7ed;
	font-size: 1em;
}

.selBtn:hover {
	cursor: pointer;
	background-image: linear-gradient(to right, #a1c4fd 10%, #8ae6d6 51%, #5bf5ad 100%);
	box-shadow: 0 7px 14px -5px grey;
}
/* 전체글 Btn - end -*/


/* 글쓰기 Btn - start -*/
.writeBtn {
	width: 80px;
	height: 38px;
	margin-left: 300px;
	border: 1px solid #75acff;
	border-radius: 10px;
	background-color: #fff7ed;
	font-size: 1em;
}

.writeBtn:hover {
	cursor: pointer;
	background-image: linear-gradient(to right, #a1c4fd 10%, #8ae6d6 51%, #5bf5ad 100%);
	box-shadow: 0 7px 14px -5px grey;
}
/* 글쓰기 Btn - end- */

.append {
	width: 80px;
	height: 38px;
	margin-right: 300px;
	border: 1px solid #75acff;
	border-radius: 10px;
	background-color: #fff7ed;
	font-size: 1em;
}

.append:hover {
	cursor: pointer;
	background-image: linear-gradient(to right, #a1c4fd 10%, #8ae6d6 51%, #5bf5ad 100%);
	box-shadow: 0 7px 14px -5px grey;
}

/* list top메뉴들로부터 header랑 table 간격 띄우기용 */
.listTop {
	display: flex;
	margin-top: 55px;
	margin-bottom: 7px;
}

/*	ㅡ	ㅡ	ㅡ	테이블	ㅡ	ㅡ	ㅡ*/ 

.container th h1 {
	font-weight: bold;
	font-size: 1em;
	
	color: #185875;
	text-align: center;
 }

 
 .container {
		
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	
	display: table;
	padding: 0 0 2.2em 0;	/* 테이블하단 margin */
	border-radius: 13px;
   
 }
 
 .container td, .container th {
	padding-bottom: 1%;
	padding-top: 1%;
 }
 
 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
	background-color:#f7e9f5;
	text-align: center;
	color: #2b0000;
 }
 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
	background-color: #e3ffff;
	text-align: center;
	color: #2b0000;
 }
 
 .container th {
	border-radius: 7px;
	background-color: #fff7ed;
 }
 
 .container td {
	border-radius: 6px;
 }

 .container td:first-child { 
	color: #FB667A;
 }

 
 .container tr:hover {
	cursor:pointer;
	background-color: #d9d7d7;
	color: black;

	/* 박스 올라오는 부분*/
	transform: translate3d(12px, -8px, 0);	
	
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: line;
 }
 
 
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 
 }

				/* list.jsp 제일 상단부*/

/* serach 부분 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
  margin-left: 10px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 220px;
  border: 3px solid #75acff;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #75acff;
  background:#75acff;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.page {
	text-align: center;
}

/*	ㅡ	ㅡ	ㅡ	ㅡ	ㅡ	ㅡ	ㅡ	ㅡ*/



