@charset "UTF-8";

.lottoContainer {
    position: relative;
    margin-top: 80px;

}


.myRecord {
    position: absolute;
    left: 475px;
    width: 220px;
    height: 50px;
    font-size: 1.1em;
    font-weight: bold;
    color: grey;
    border-style: none;
    border-radius: 8px;
    transition: 0.2s;
}

.myRecord:hover {
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.2s;

}

.startLottoBtn {
    position: absolute;
    top: 270px;
    left: 515px;
    width: 150px;
    height: 150px;
    background-color: #2196F3;
    border-style: none;
    border-radius: 14px;
    transition: 0.2s;
}

.startLottoBtn:hover {
    cursor: pointer;
    position: absolute;
    top: 270px;
    left: 515px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    transition: 0.2s;
}

#startLotto {
   font-size: 7.7em;
   padding-left: 3px;
   padding-top: 5px;
   transition: 0.2s;
}

#startLotto:hover {
    font-size: 6.9em;
    padding-right: 3px;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-left: 5px;
    transition: 0.2s;
 }

/* 모달 start */
.lottoModal {
	display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.2); 
}

/* Modal Content/Box */
.lotto-content {
    background-color: white;
    overflow: auto;
	margin: 10% auto; 
	height: 62%;
    padding: 20px;
    padding-right: 57px;
	border-radius: 20px;
	width: 29%;                           
	text-align: center;
	
}

#lottoTitle {
    margin-left: 57px;
    color: blue;
}

#lottoBox {
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
}

#lottoBg1 {
    width: 70px;
    height: 70px;
    margin-left: 15px;
    border-radius: 100px;
    background-color: red;
}

#lottoBg2 {
    width: 70px;
    height: 70px;
    margin-left: 15px;
    border-radius: 100px;
    background-color: blue;
}

#lottoBg3 {
    width: 70px;
    height: 70px;
    margin-left: 15px;
    border-radius: 100px;
    background-color: green;
}

#lottoBg4 {
    width: 70px;
    height: 70px;
    margin-left: 15px;
    border-radius: 100px;
    background-color: yellow;
}

#lottoBg5 {
    width: 70px;
    height: 70px;
    margin-left: 15px;
    border-radius: 100px;
    background-color: grey;
}

#lottoBg6 {
    width: 70px;
    height: 70px;
    margin-left: 15px;
    border-radius: 100px;
    background-color: pink;
}

#num {
    position: absolute;
    margin-left: -19px;
    margin-top: 13px;
    font-size: 2em;
    font-weight: bold;
}

.lottoBtn {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.lb {
    height: 40px;
    width: 120px;
    border-style: none;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

#reBtn {
    margin-left: 50px;
}

#lottoClo {
    margin-left: 50px;
}


/* 로또 관련 end */

