@charset "UTF-8";

.container {
    width: 100%;
    margin: 0 auto;
}

.mainContainer {
    text-align: center;
}

.formContainer {
    margin: 0 auto;
    margin-top: 30px;
    width: 50%;
    border-radius: 8px;
    border: 1px solid #e64c65;
}

#frm {
 font-size: 1.5em;
}

.input {
    width: 50px;
    height: 30px;
    outline-style: none;
    border-radius: 6px;
    margin-top: 20px;
}

.an{
    color: red;
}

/* modal */

.modal {
	display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
	margin: 15% auto; 
	height: 220px;
    padding: 20px;
	border: 3px solid #fff7ed;
	border-radius: 20px;
	width: 20%;                           
	text-align: center;
	background-color: #fff7ed;
	
}
.pop_bt {
	margin-top: 45px;
	width: 200px;
	text-align: center;
	cursor: pointer;
}