@charset "UTF-8";
   
/* 프로필 사진 등록  */
.pImgbox input[type="file"]{
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    z-index: -1;
    overflow: hidden; }
    
.pImgbox label { cursor: pointer; }

.profileImg {
    margin-left: 160px;
	width: 220px;
	height: 290px;
	border-radius: 40px;
}

/* myPage css Start */
.myPageContainer {
    margin: 80px;
    margin-top: 50px;
}

.infoBox {
    position: relative;
}
/* 계급 이미지 위치조정 */
#classesDiv {
    position: absolute;
    top: -10px;
    left: 525px;
}

.classesImg {
    width: 90px;
    height: 95px;
    border-radius: 100px;
}

#myTotalPoint {
    position: absolute;
    top: 110px;
    left: 500px;
}

#totalPointIcon {
    font-size: 1.7em;
}

#totalPointSpan {
    position: absolute;
    left: 45px;
    font-size: 1.5em;
}

#nowPoint {
    position: absolute;
    top: 180px;
    left: 496px;
}

#nowPointIcon {
    font-size: 2.2em;
}

#nowPointSpan {
    position: absolute;
    left: 50px;
    font-size: 1.5em;

}

#nowCash {
    position: absolute;
    top: 250px;
    left: 500px;
}

#nowCashIcon {
    position: absolute;
    left: -8px;
    font-size: 2.6em;
}

#nowCashSpan {
    width: 200px;
    position: absolute;
    left: 46px;
    font-size: 1.5em;
}

.cngImg {
    position: absolute;
    top: 310px;
    left: 170px;
    width: 90px;
    height: 30px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
    outline-style: none;
    border-style: none;
    color: white;
    background-color: #216bff;
}

.cngImg:hover {
    color: #111;
    background-color: #537ed4;
}

.cngImg2 {
    position: absolute;
    top: 310px;
    left: 280px;
    width: 90px;
    height: 30px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
    outline-style: none;
    border-style: none;
    color: white;
    background-color: #216bff;
}

.cngImg2:hover {
    color: #111;
    background-color: #537ed4;
}

#myPoint {
    position: absolute;
    top: 310px;
    left: 490px;
    width: 130px;
    height: 30px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
    outline-style: none;
    border-style: none;
    color: white;
    background-color: #216bff;
}

#myPoint:hover {
    color: #111;
    background-color: #537ed4;
}

#hrDiv {
    width: 920px;
    border: 3px double grey;
    border-radius: 6px;
}

#nickIcon {
    position: absolute;
    top: 410px;
    left: 150px;
    font-size: 2.4em;
}

#nickSpan {
    position: absolute;
    top: 405px;
    left: 205px;
    font-size: 2.2em;
    font-weight: bold;
    color: grey;
}

#rdtIcon {
    position: absolute;
    top: 470px;
    left: 150px;
    font-size: 2.4em;
}

#rdtSpan {
    position: absolute;
    top: 465px;
    left: 205px;
    font-size: 2.2em;
    font-weight: bold;
    color: #111;
}

#infoChangeBtn {
    position: absolute;
    top: 412px;
    left: 570px;
    width: 140px;
    height: 35px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
    outline-style: none;
    border-style: none;
    color: white;
    background-color: #216bff;

}

#infoChangeBtn:hover {
    color: #111;
    background-color: #537ed4;
}

#logoutBtn {
    position: absolute;
    top: 470px;
    left: 570px;
    width: 140px;
    height: 35px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
    outline-style: none;
    border-style: none;
    color: white;
    background-color: #216bff;
}

#logoutBtn:hover {
    color: #111;
    background-color: #537ed4;
}






/* pointModal Start */
.pointModal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.3); 
}

/* Modal Content/Box */
.pointModal-content {
    background-color: #fefefe;
    margin: 16% auto; 
    width: 20%;
	height: 23%;
    padding: 20px;
	border: 3px solid #fff7ed;
	border-radius: 20px;	                           
	text-align: center;
	background-color: #fff7ed;                    
}

.pointModal-body {
    margin-top: 30px;
}

#pointFrm {
    margin-top: 12px;
}

#pointIns {
    width: 170px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid grey;
}

#pointSubmitBtn {
    width: 90px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid grey;
    background-color: #abd8ff;
    color: grey;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

#pointSubmitBtn:hover {
    color: #111;
    font-size: 1.06em;
    font-weight: bold;
}

.pop_bt {
	margin-top: 50px;
    width: 120px;
    font-size: 1.1em;
    font-weight: bold;
    color: grey;
    height: 30px;
    border: 2px solid #abd8ff;
    border-radius: 6px;
    outline-style: none;
	text-align: center;
    cursor: pointer;
    background-color: #abd8ff;
    transition: 0.1s;
}

.pop_bt:hover {
    transition: 0.1s;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #b7d9f7;
    color: black;
}
/* pointModal End */